@model Category

<form method="post">
    <div class="border p-3 mt-3">


        <div class="row pb-3">
            <h2 class="text-primary">Delete Category</h2>
            <hr />

        </div>
        <input type="hidden" asp-for="Id"/>
        <div asp-validation-summary="All"></div>

        <div class="row mb-3">
            <label asp-for="Name"></label>
            <input disabled asp-for="Name" class="from-control" />
            <span asp-validation-for="Name" class="text-danger">

            </span>

        </div>

        <div class="row md-3">
            <label asp-for="DisplayOrder"></label>
            <input disabled asp-for="DisplayOrder" class="from-control" />
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            <span asp-validation-for="DisplayOrder" class="text-danger"></span>
            <hr />

        </div>
        <button class="btn btn-danger" type="submit" onclick="return confirm('Bhai vichari leje pachhu nai ave..')">Delete</button>
        <button class=" btn btn-primary">  &nbsp<a asp-action="Index" asp-controller="category">Back To Category</a></button>
    </div>
    

</form>


@section scripts{
    @{

        <partial name="_ValidationScriptspartial"></partial>
    }
}